@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);


body {
  color: #eee;
}

p {
  font-size: 20px;
}

.titleName {
  font-size: 3.5rem;
  font-family: 'Lobster', cursive;
  color: white;
}

.titleName:hover {
  border-bottom: 2px solid gold;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://upload.wikimedia.org/wikipedia/commons/0/0a/Blue_sky_south_of_France.jpg"), #111111;
  color: black;
  min-height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}


/*Les Containers du Site*/
/*Menu, à propos...*/
.bus {
  background-color: #202020;
}

.bus nav ul {
  list-style-type: none;
}

.bus nav li {
  float: left;
  width: 25%;
  margin: 0auto;
}

.bus nav ul::after {
  content: "";
  display: table;
  clear: both;
}

.bus nav {
  width: 100%;
  margin: 0auto;
}

.bus nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
  text-align: center;
}

.bus nav a:hover {
  /*color: fuchsia;*/
  border-bottom: 2px solid gold;
  color: gold;
}

.bus nav > ul li:hover .sous {
  display: block;
}

/*Chapeau du Site*/
.chapeau {
  display: flex;
  height: 250px;
  margin-bottom: 10px;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  font-size: 250%;
  background: url("https://sdz-upload.s3.amazonaws.com/prod/upload/Capture%20d%E2%80%99e%CC%81cran%202014-12-25%20a%CC%80%2016.41.03.png") no-repeat center center / cover;
  color: #fff;
}

/*Sombrer la photo de l'image*/
.title::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
}

/*Chat du Profil*/
.profilImage {
  display: flex;
  width: 20%;
  height: 100%;
  background: url("https://i.pinimg.com/originals/ca/a5/f4/caa5f49b1265b5310dd379d5736006e1.jpg") no-repeat center center / cover;
}


/*Le Corps du site*/
.squelletteHtml {
  display: flex;
  width: 100%;
  margin-top: 5px;
  color: black;
}

.presentationSoit {
  width: 80%;
  padding: 20px;
}

.skills {
  padding: 20px;
  width: 20%;
  height: 100%;
  font-size: 15%;
  font-size: 20px;
}

.skills li {
  padding: 10px 0;
  transition: transform 10s case;
  cursor: pointer;
}

.skills li:hover {
  transform: translateX(10px);
}

.skills h3:hover {
  /*color: fuchsia;*/
  border-bottom: 2px solid gold;
}

.sousSkills {
  font-size: 30px;
}

h2 {
  font-size: 30px;
  color: whitesmoke;
  margin-top: 40px;
  text-shadow: 4px 4px 6px black;
}

.photo {
  width: 300px;
  height: 300px;
}

.corpsARegarder {
  display: flex;
}

.terain {
  width: 85%;
}

.tandau {
  padding: 20px;
  width: 20%;
  font-size: 15%;
  font-size: 20px;
  padding: 10px 0;
  transition: transform 10s case;
  cursor: pointer;
  color: white;
}

.tandau:hover {
  transform: translateX(10px);
  border-bottom: 2px solid gold;
}

.tandau {
  font-size: 30px;
  padding: 30px;
}

.poster {
  width: 9%;
  height: 150px;
}

.sousParagraphe {
  font-size: 25px;
  padding: 5px;
}

.titre {
  border-bottom: 2px solid gold;
}

footer{
  width: 100%;
  height: 50px;
  background: black;
  text-align: center;
  margin: 0;
  padding-top: 25px;
  list-style-type: none;
  float: left;
  padding: 10px;
}

footer nav li {
  float: left;
  width: 33%;
  margin: 0auto;
}

.footerText{
  color: white;
  font-size: 23px;
  margin-left: 10px;
}

footer a {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

footer nav a:hover{
  border-bottom: 1px solid white;

}